{% extends 'base.html' %}
{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <div class="text-center mb-4">
                <h2 class="display-6">Cambiar Contraseña</h2>
                <p class="lead text-muted">Actualiza tu contraseña de acceso</p>
            </div>
        </div>
    </div>

        <div class="container">
        	<div class="row">
        		
        			<div class="col-md-6 offset-md-3">

        				<br/><br/>
<form method="POST" action="{% url 'update_password' %}">
    {% csrf_token %}
    
    {{ form.as_p }}
    <br/><br/>
    <button type="submit" class="btn btn-secondary">
      Actualizar Contraseña
    </button>
  
</form>

<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
        			</div>
        		
        	</div>
        </div>

{% endblock %}