{% extends 'base.html' %}


{% block content %}

        <div class="container my-5">
            <div class="row">
                <div class="col-12">
                    <div class="text-center mb-4">
                        <h2 class="display-6">Información de Facturación</h2>
                        <p class="lead text-muted">Ingrese su información de pago</p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                
                    <div class="col-md-6 offset-md-3">
          <div class="card">
          <div class="card-header">
            Resumen del Pedido
          </div>
          <div class="card-body">
            {% for product in cart_products %}
                {{ product.name }}: 
                    {% if product.is_sale %}
                        ${{ product.sale_price|floatformat:"0" }}
                    {% else %}
                        ${{ product.price|floatformat:"0" }}
                {% endif %}

                <br/>
                <small>Cantidad: 
                {% for key, value in quantities.items %}
                    {% if key == product.id|stringformat:"s" %}
                        {{ value }}
                    {% endif %}
                {% endfor %}</small>
                <br/><br/>

            {% endfor %}
            Total:  ${{ totals }}
            <br/><br/>
            <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary">Actualizar artículos</a>
          </div>
        </div>
<br/><br/>
<div class="card">
  <div class="card-header">
    Información de Envío
  </div>
  <div class="card-body">
    
    Nombre: {{ shipping_info.shipping_full_name }}<br/>
    Correo electrónico: {{ shipping_info.shipping_email }}<br/>
    Dirección: {{ shipping_info.shipping_address1 }}<br/>
    Ciudad: {{ shipping_info.shipping_city }}<br/>
    Provincia/Estado: {{ shipping_info.shipping_state }}<br/>
    Código postal: {{ shipping_info.shipping_zipcode }}<br/>
    <br/>
    <a href="{% url 'checkout' %}" class="btn btn-outline-secondary">Actualizar Envío</a>

  </div>
</div>
<br/><br/>


<div class="card">
  <div class="card-header">
    Información de Facturación
  </div>
  <div class="card-body">
    <form method="POST" action="{% url 'process_order' %}">
      {% csrf_token %}
    {{ billing_form.as_p }}
    
  </div>
</div>
<br/>



<button type="submit" class="btn btn-secondary">
  Pagar Ahora
</button>
</form>
<br/><br/>


            </div>
        </div>
    </div>






{% endblock %}