{% extends 'base.html' %}


{% block content %}

        <div class="container my-5">
            <div class="row">
                <div class="col-12">
                    <div class="text-center mb-4">
                        <h2 class="display-6">Procesando tu Pedido</h2>
                        <p class="lead text-muted">Por favor espera mientras procesamos tu orden</p>
                    </div>
                </div>
            </div>
            </div>
        </header>
        <br/>
        <div class="container">
            <div class="row">
                
                    <div class="col-md-6 offset-md-3">
          <div class="card">
          <div class="card-header">
            Resumen del Pedido
          </div>
          <div class="card-body">
            {% for product in cart_products %}
                {{ product.name }}: 
                    {% if product.is_sale %}
                        ${{ product.sale_price|floatformat:"0" }}
                    {% else %}
                        ${{ product.price|floatformat:"0" }}
                {% endif %}

                <br/>
                <small>Cantidad: 
                {% for key, value in quantities.items %}
                    {% if key == product.id|stringformat:"s" %}
                        {{ value }}
                    {% endif %}
                {% endfor %}</small>
                <br/><br/>

            {% endfor %}
            Total:  ${{ totals }}
            <br/><br/>
            <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary">Actualizar artículos</a>
          </div>
        </div>
<br/><br/>
<div class="card">
  <div class="card-header">
    Informacion de envio
  </div>
  <div class="card-body">
    
    Nombre: {{ shipping_info.shipping_full_name }}<br/>
    Email: {{ shipping_info.shipping_email }}<br/>
    Dirección 1: {{ shipping_info.shipping_address1 }}<br/>
    Dirección 2: {{ shipping_info.shipping_address2 }}<br/>
    Ciudad: {{ shipping_info.shipping_city }}<br/>
    Provincia: {{ shipping_info.shipping_state }}<br/>
    Código Postal: {{ shipping_info.shipping_zipcode }}<br/>
    País: {{ shipping_info.shipping_country }}<br/>
    <br/>
    <a href="{% url 'checkout' %}" class="btn btn-outline-secondary">Actualizar envio</a>

  </div>
</div>
<br/><br/>

<div class="card">
  <div class="card-header">
    Información de envio
  </div>
  <div class="card-body">
    <form method="POST" action="{% url 'process_order' %}">
      {% csrf_token %}
    {{ billing_form.as_p }}
    
  </div>
</div>
<br/>



<button type="submit" class="btn btn-secondary">
  Pagar ahora
</button>
</form>
<br/><br/>


            </div>
        </div>
    </div>






{% endblock %}